# Ignore Python environment and Django stuff
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3
.env

# Ignore IDE files
.idea/
.vscode/

# Ignore Node modules
node_modules/

# Ignore build files
build/
dist/
*.log

# Ignore OS/system files
.DS_Store
Thumbs.db
